src/*.o
config.log
src/.deps
Makefile
src/Makefile
src/twemcache

cmake/
CTestTestfile.cmake

config.log
config.status

.cproject
autom4te.cache/requests
.idea*
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
leveldb.cbp
cmake_install.cmake
liblibnova.a
twemcache
nova_mem_server
nova_test
